{% extends 'base.html.twig' %}

{% block menu %}

{% endblock %}

{% block body %}


  <div class="row">
    <!-- compra -->
    <div class="col-6">
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col" colspan="3" class="text-center">Compra</th>
            </tr>  
          <tr>
            <th scope="col" class="text-center">Ativ.</th>
            <th scope="col" class="text-center">Qtd.</th>
            <th scope="col" class="text-center">Valor</th>
          </tr>
        </thead>
        <tbody>
        {% for ordem in ordensCompra %}
          <tr>
            <th scope="row" class="text-center">{{ ordem.tipoAtivo }}</th>
            <td scope="row" class="text-center">{{ ordem.quantidade }}</td>
            <td scope="row" class="text-center">{{ ordem.preco|number_format(2, ',', '.') }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    
    <!-- venda -->
    <div class="col-6">
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col" colspan="3" class="text-center">Venda</th>
            </tr>  
          <tr>
            <th scope="col" class="text-center">Ativ.</th>
            <th scope="col" class="text-center">Qtd.</th>
            <th scope="col" class="text-center">Valor</th>
          </tr>
        </thead>
        <tbody>
        {% for ordem in ordensVenda %}
          <tr>
            <th scope="row" class="text-center">{{ ordem.tipoAtivo }}</th>
            <td scope="row" class="text-center">{{ ordem.quantidade }}</td>
            <td scope="row" class="text-center">{{ ordem.preco|number_format(2, ',', '.') }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
        </div>
    </div>
    
    <div class="row">
    <div class="col-12">
      <div id="chart_div"></div>
    </div>
  </div> <!-- END_ROW -->

{% endblock %}